.beneficios {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}

.titleBeneficios h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  width: 700px;
}

.beneficiosSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1220px;
}

/* CARD SECTION STYLE */
.sectionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 1220px;
}

.cardBeneficios {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 320px;
  height: 250px;
  background-color: #fff;
  padding: 30px 30px;
  border: solid 1px #dfdfdf;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.titleBeneficios h3 {
  font-size: 22px;
}
.descriptBeneficios p {
  font-size: 18px;
}

/* ESPECIALISTA SECTION STYLE */

.sectionEspecialista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 1220px;
}

.descriptSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 570px;
}

.titleEspecialista h3 {
  font-weight: 500;
  font-size: 30px;
}

.descriptEspecialista {
  font-size: 18px;
}

.sectionCtaImg img {
  width: 500px;
}

.buttonEspecialista a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  width: 350px;
  padding: 5px 10px;
  border-radius: 8px;
  background: #11a65f;
  color: #fff;
}

.buttonEspecialista a {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

.buttonEspecialista:hover {
  transform: scale(1.01);
  transition: all 100ms;
}

@media (max-width: 780px) {
  .beneficios {
    padding: 30px 50px;
  }

  .titleBeneficios h2 {
    font-size: 32px;
    width: 600px;
  }

  .beneficiosSection {
    width: 100%;
  }

  /* CARD SECTION STYLE */
  .sectionCard {
    gap: 40px;
    width: 100%;
  }

  .cardBeneficios {
    gap: 5px;
    width: 500px;
    height: 230px;
    padding: 30px 30px;
  }

  .titleBeneficios h3 {
    font-size: 23px;
  }
  .descriptBeneficios p {
    font-size: 18px;
  }

  /* ESPECIALISTA SECTION STYLE */

  .sectionEspecialista {
    padding: 20px 50px 30px 50px;
    gap: 0px;
    width: 100%;
  }

  .descriptSection {
    gap: 15px;
    width: 100%;
  }

  .titleEspecialista h3 {
    font-size: 25px;
  }

  .descriptEspecialista {
    font-size: 18px;
  }

  .sectionCtaImg img {
    display: none;
  }
  .buttonEspecialista a {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .beneficios {
    padding: 30px 50px;
  }

  .titleBeneficios h2 {
    font-size: 35px;
    width: 100%;
  }

  .beneficiosSection {
    width: 100%;
  }

  /* CARD SECTION STYLE */
  .sectionCard {
    gap: 30px;
    width: 100%;
  }

  .cardBeneficios {
    gap: 5px;
    width: 400px;
    height: 260px;
    padding: 30px 30px;
  }

  .titleBeneficios h3 {
    font-size: 22px;
  }
  .descriptBeneficios p {
    font-size: 20px;
  }

  /* ESPECIALISTA SECTION STYLE */

  .sectionEspecialista {
    padding: 0px 0px 30px 0px;
    gap: 0px;
    width: 100%;
  }

  .descriptSection {
    gap: 15px;
    width: 100%;
  }

  .titleEspecialista h3 {
    font-size: 30px;
  }

  .descriptEspecialista {
    font-size: 20px;
  }

  .sectionCtaImg img {
    display: none;
  }
}
@media (max-width: 630px) {
  .beneficios {
    padding: 30px 50px;
  }

  .titleBeneficios h2 {
    font-size: 27px;
    width: 100%;
  }

  .beneficiosSection {
    width: 100%;
  }

  /* CARD SECTION STYLE */
  .sectionCard {
    gap: 40px;
    width: 100%;
  }

  .cardBeneficios {
    gap: 5px;
    width: 350px;
    height: 200px;
    padding: 30px 30px;
  }

  .titleBeneficios h3 {
    font-size: 22px;
  }
  .descriptBeneficios p {
    font-size: 16px;
  }

  /* ESPECIALISTA SECTION STYLE */

  .sectionEspecialista {
    padding: 0px 50px 30px 50px;
    gap: 0px;
    width: 100%;
  }

  .descriptSection {
    gap: 15px;
    width: 100%;
  }

  .titleEspecialista h3 {
    font-size: 25px;
  }

  .descriptEspecialista {
    font-size: 16px;
  }

  .sectionCtaImg img {
    display: none;
  }
  .buttonEspecialista a {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .beneficios {
    padding: 30px 50px;
  }

  .titleBeneficios h2 {
    font-size: 23px;
    width: 100%;
  }

  .beneficiosSection {
    width: 100%;
  }

  /* CARD SECTION STYLE */
  .sectionCard {
    gap: 40px;
    width: 100%;
  }

  .cardBeneficios {
    gap: 5px;
    width: 200px;
    height: 250px;
    padding: 30px 30px;
  }

  .titleBeneficios h3 {
    font-size: 20px;
  }
  .descriptBeneficios p {
    font-size: 14px;
  }

  /* ESPECIALISTA SECTION STYLE */

  .sectionEspecialista {
    padding: 0px 50px 30px 50px;
    gap: 0px;
    width: 100%;
  }

  .descriptSection {
    gap: 15px;
    width: 100%;
  }

  .titleEspecialista h3 {
    font-size: 20px;
  }

  .descriptEspecialista {
    font-size: 14px;
  }

  .sectionCtaImg img {
    display: none;
  }
  .buttonEspecialista a {
    font-size: 14px;
  }
  .buttonEspecialista a {
    width: 200px;
  }
}
