.sectionServices {
  margin: 50px 0;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.titleServices h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  width: 500px;
}

.videoServices iframe {
  width: 1000px;
  height: 565px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.descriptVideo {
  width: 1000px;
  max-width: 1000px;
}

.descriptVideo p {
  font-size: 21px;
}

.descriptVideo span {
  color: #11a65f;
  font-weight: bold;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  width: 350px;
  padding: 5px 10px;
  border-radius: 8px;
  background: #11a65f;
  color: #fff;
}

.buttonForm a {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}

.buttonForm:hover {
  transform: scale(1.01);
  transition: all 100ms;
}

@media (max-width: 780px) {
  .sectionServices {
    margin: 50px 50px;
  }

  .servicesContent {
    gap: 40px;
  }

  .titleServices h2 {
    font-size: 32px;
    width: 500px;
  }

  .videoServices iframe {
    width: 675px;
    height: 380px;
  }

  .descriptVideo {
    width: 100%;
    max-width: 100%;
  }

  .descriptVideo p {
    font-size: 18px;
  }

  .buttonForm {
    margin-top: 10px;
    width: 350px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .buttonForm a {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .titleServices h2 {
    font-size: 35px;
    width: 100%;
  }

  .videoServices iframe {
    width: 540px;
    height: 305px;
  }

  .descriptVideo {
    width: 100%;
    max-width: 100%;
  }

  .descriptVideo p {
    font-size: 20px;
  }

  .buttonForm {
    margin-top: 10px;
    width: 350px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .buttonForm a {
    font-size: 22px;
  }
}
@media (max-width: 630px) {
  .sectionServices {
    margin: 50px 50px;
  }

  .servicesContent {
    gap: 40px;
  }

  .titleServices h2 {
    font-size: 27px;
    width: 500px;
  }

  .videoServices iframe {
    width: 400px;
    height: 225px;
  }

  .descriptVideo {
    width: 100%;
    max-width: 100%;
  }

  .descriptVideo p {
    font-size: 16px;
  }

  .buttonForm {
    margin-top: 10px;
    width: 350px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .buttonForm a {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .titleServices h2 {
    font-size: 23px;
    width: 300px;
  }

  .videoServices iframe {
    width: 340px;
    height: 191px;
  }

  .descriptVideo {
    width: 100%;
    max-width: 100%;
  }

  .descriptVideo p {
    font-size: 14px;
  }

  .buttonForm {
    margin-top: 10px;
    width: 250px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .buttonForm a {
    font-size: 14px;
  }
}

@media (max-width: 415px) {
  .titleServices h2 {
    font-size: 23px;
    width: 100%;
  }

  .videoServices iframe {
    width: 290px;
    height: 165px;
  }

  .descriptVideo {
    width: 100%;
    max-width: 100%;
  }

  .descriptVideo p {
    font-size: 14px;
  }

  .buttonForm {
    margin-top: 10px;
    width: 250px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .buttonForm a {
    font-size: 14px;
  }
}
