.sectionValores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionValores .valoresTitle h2 {
  font-size: 40px;
}

.sectionValores .valoresSubtitle {
  font-size: 22px;
}

.sectionCard {
  display: flex;
  gap: 60px;
  margin: 40px 50px;
}

.card {
  width: 300px;
  height: 360px;
  background-color: #fff;
  padding: 30px 30px;
  border: solid 1px #dfdfdf;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.card .imageCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .imageCard img {
  width: 130px;
  height: 130px;
}

.card h3 {
  font-size: 25px;
  margin: 10px 0;
}

.card p {
  font-size: 18px;
}

@media (max-width: 780px) {
  .sectionValores {
    padding: 30px 50px;
  }

  .sectionCard {
    gap: 40px;
    margin: 40px 50px;
    flex-direction: column;
  }

  .card {
    width: 500px;
    height: 270px;
    padding: 30px 30px;
  }

  .sectionValores .valoresTitle h2 {
    font-size: 32px;
  }
  .sectionValores .valoresSubtitle {
    font-size: 18px;
  }

  .card .imageCard img {
    width: 100px;
    height: 100px;
  }

  .card h3 {
    font-size: 23px;
    margin: 10px 0;
  }

  .card p {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .sectionCard {
    gap: 40px;
    padding: 40px 50px;
    flex-direction: column;
  }

  .card {
    width: 400px;
    height: 300px;
    padding: 30px 30px;
  }

  .card .imageCard img {
    width: 100px;
    height: 100px;
  }

  .card h3 {
    font-size: 25px;
    margin: 10px 0;
  }

  .card p {
    font-size: 20px;
  }
}

@media (max-width: 630px) {
  .sectionValores {
    padding: 30px 50px;
  }

  .sectionCard {
    gap: 40px;
    margin: 40px 50px;
    flex-direction: column;
  }

  .card {
    width: 350px;
    height: 280px;
    padding: 30px 30px;
  }

  .sectionValores .valoresTitle h2 {
    font-size: 27px;
  }
  .sectionValores .valoresSubtitle {
    font-size: 17px;
    text-align: center;
  }

  .card .imageCard img {
    width: 100px;
    height: 100px;
  }

  .card h3 {
    font-size: 22px;
    margin: 10px 0;
  }

  .card p {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .sectionValores {
    padding: 30px 50px;
  }

  .sectionCard {
    gap: 40px;
    margin: 0px 50px;
    flex-direction: column;
  }

  .card {
    width: 200px;
    height: 280px;
    padding: 30px 30px;
  }

  .sectionValores .valoresTitle h2 {
    font-size: 23px;
  }
  .sectionValores .valoresSubtitle {
    font-size: 15px;
    text-align: center;
  }

  .card .imageCard img {
    width: 80px;
    height: 80px;
  }

  .card h3 {
    font-size: 20px;
    margin: 10px 0;
  }

  .card p {
    font-size: 14px;
  }
}
